body{
  background-color: #dadbf1;
}

nav{
  background-color: #000000;
}

h2 {
  font-weight: bold;
}

#nav-labels{
  color: #fff;
}

main{
  display: flex;
  row-gap: 0.5rem;
  column-gap: 0.5rem;
  flex-wrap: wrap;
  justify-content: space-between;
}

section{
  
}
