@import url('https://fonts.googleapis.com/css2?family=Ysabeau:wght@200&display=swap');

body{
  background-color: #ffffff;
  font-family: 'Ysabeau', sans-serif;
  color: #2e1601;
}

header{
  display: none;
}

nav{
  background-color: #000000;
  display: flex;  
}

h2 {
  font-weight: bold;
}

#nav-labels{
  list-style-type: none;
}

#nav-labels>li{
  padding: 10px;
  display: inline;
}

#nav-labels>li a:hover{
  font-size:20px;
  color: rgb(0, 174, 255);
}

.divisor-info{
  width: 50%;
  flex-grow: 1;
}

#foto{
  width: 75%;  
  /* padding-bottom: 40%; */
  border-radius: 50%;
  flex-shrink: 1;
}

a{
  color: #fff;
  text-decoration: none;
}

a:hover{
  color: #2475d1; 
  opacity: 1;
  transform: scale(1);
  transition: all 0.3s ease-in-out 0.1s;
}

footer>p>a{
  color: #2e1601;
  text-decoration: none;
}

section{
  /* border: #a6ff00 solid 1px; */
  width: 100%;
  height: 100%;
  /* width: fit-content; */
}


#map {     
  width: 100%;
  height: 100%;
}

#video{
  width: 100%;
  height: 100%;
}

.main-div{
  /* border: #000000 solid 1px; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.divisor1{
  /* border: #000000 solid 1px; */
  /* background-color: rgb(169, 245, 70); */
  margin: 5px;
  width: 49%;  
  flex-grow: 1;
}

.cont4{
  display: flex;
  flex-wrap: wrap;/* 
  background-color: #ff9090; */
}

.divisoren4{
  width: 49%;
  margin: 2px;
  height: 300px;
}

#INFO{
  padding-top: 10px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;  
}

#divisor-info:hover{
  background-color: #d7d8df;
}

#CONTDIV{
  background-color: #d6deec;
  justify-content: center;
  text-align: center;
}

.card{
  /* height: fit-content; */  
  transform-style: preserve-3d;
  width: 100%;
  height: 100%;
}

.card:hover{
  transform: rotateY(180deg);
  transition-duration: 1s;
}

.front{
  background-color: #fcfdff;
  position: absolute;
}

#front-edu{
  background-color: #eeeeee;
  position: absolute;
}

.back{
  color: white;
  background-color: rgb(6, 4, 20);
  transform: rotateY(180deg);
  overflow: scroll;
}

.front, .back{
  backface-visibility: hidden;
  height: 100%;
  width: 100%;
  text-align: center;
  overflow: auto;
  justify-content: center;
}

input, textarea{
  width: 50%;
  margin: 2px;
}

input[type=submit]{
  background-color: transparent;
  border: none;
  color: #2e1601;
}

input[type=submit]:hover{
  background-color: #0e0d31;
  border: none;
  color: white;
}

@media (max-width: 320px) {
  #divisor-info-foto{
    display: none;
  }

  .divisoren4{
    width: 100%;
  }

  #divisor-info{
    overflow-y: hidden;
  }
}